.idea/
cifar-10*
saved_models
.DS_Store
__pycache__
dciknn_cuda
res/
experiments
.vscode
.datasets/
datasets
wandb
results/
100-shot-obama-90/
obama-best/
vanilla-results/
obama-splatter-vanilla/
# train-*.sh
*.out
pretrained/
*.ipynb
# eval-*.sh
projection_matrix.pt
datasets.tar
cifar-5000.zip
results/
vanilla-results/
interpolation/
logs/
new-snoise-*.sh
new-vanilla-results/
imports/
no-noise-*.sh
imle-env/*
backtrack/
results-splatter/
transfer/
# *.sh
transfer-narval/*
transfer_rebuttal/*
*.zip

*.lock
*.toml
*.python-version
.venv
.venv/*
*.nojekyll
datasets/*
__MACOSX
__MACOSX/*
__pycache__/*
wandb/*
new-vanilla-results
new-vanilla-results/*
